.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Default shadow for larger screens */

  }
  
  @media (max-width: 768px) {
    .login-container {
      box-shadow: none; /* Remove shadow for screens smaller than 768px */
    }
  }
  
  .logo {
    width: 84px;
    margin-bottom: 24px;
  }
  
  h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  p {
    color: var(--ion-color-medium);
    margin-bottom: 24px;
  }
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 16px;
  }
  
  .forgot-password {
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .signin-btn {
    margin-bottom: 16px;
  }
  
  .divider {
    text-align: center;
    margin: 16px 0;
    border-bottom: 1px solid var(--ion-color-light);
    line-height: 0;
    
    span {
      background: #fff;
      padding: 0 10px;
      color: var(--ion-color-medium);
    }
  }
  
  .google-btn, .apple-btn {
    margin-bottom: 10px;
    --border-color: var(--ion-color-medium);
    --color: var(--ion-color-dark);
  }
  
  .terms {
    font-size: 12px;
    text-align: center;
    margin-top: 16px;
    color: var(--ion-color-medium);
    
    a {
      color: var(--ion-color-primary);
      text-decoration: none;
    }
  }
  
  .join-now {
    text-align: center;
    font-size: 16px;
    
    a {
      color: var(--ion-color-primary);
      text-decoration: none;
      font-weight: 600;
    }
  }

  ion-header, ion-toolbar {
    height: 70px;
  }


  .logo {
    margin: 20px;
    margin-bottom: 0px;
    margin-left: 30px;
    width: 150px;
    height: auto;
  }

  ion-content {
    --padding-top: 0;
  }